<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x.mapper.PopulationMapper">
    <select id="countPopulationByGeoJson" resultType="java.lang.Long">
        SELECT count(*) from population
        WHERE st_contains(st_geomfromgeojson(#{geom}), st_geomfromgeojson(st_asgeojson(the_geom)))
    </select>

    <select id="selectPopulationByGeoJson" resultType="com.x.entity.Population">
        SELECT * from population
        WHERE st_contains(st_geomfromgeojson(#{geom}), st_geomfromgeojson(st_asgeojson(the_geom)))
    </select>
</mapper>
